.main-menu.menu-dark .navigation>li.active>a {
    background: -webkit-linear-gradient(332deg, #097E7D, rgba(22, 29, 49, 0.7));
    background: linear-gradient(118deg, #097E7D, rgba(22, 29, 49, 0.7));
    box-shadow: 0 0 10px 1px rgba(9, 126, 125, 0.7);
}

.card-statistics .statistics-body .avatar .avatar-content .avatar-icon {
    width: 48px;
    height: 48px;
}

.card-congratulations {
    background-image: url(../images/congbg.jpg);
    background-blend-mode: overlay;
}

a {
    color: #307a84;
}

.card-browser-states .browser-states {
    margin-top: 1.14rem;
}

.main-menu .navbar-header .navbar-brand .brand-text {
    color: #eff7f7;
}

.card-browser-states .browser-states .avatar .avatar-content {
    width: 42px;
    height: 42px;
}

.media-body {
    margin: auto;
}